.balloon-module {
  
  display: flex;
  justify-content: center;
  align-items: center;

  .balloon {
    position: relative;
    width: 80%;
    height: 70%;
    border-radius: 1rem;
    background-color: white;
    // filter: drop-shadow(2px 4px 2px gray);
    border: 3px solid gray;
  }

  .balloon::before,
  .balloon::after {
    content: "";
    display: block;
    width: 10%;
    height: 10%;
    background-color: gray;
    position: absolute;
    inset: 100% auto auto 70%;
    clip-path: polygon(
      0 0,
      100% 0,
      50% 100%
    );
  }

  .balloon::after {
    background-color: white;
    translate: 0 -4px;
  }


}