.opening-button {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: 3rem;
    width: 200px;
    background-color: rgb(255, 247, 205);
    border-radius: 5px;

    display: block;
    position: relative;
    perspective: 1200px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 0px rgb(255, 234, 129);
    border: none;

    div {
      box-sizing: content-box;
      content: "HOVER HERE";
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(251, 188, 0);
      border-radius: 5px;
      width: 100%;
      height: 102%;
      position: absolute;
      inset:  0 auto auto 0;
      transition: transform .6s;
      transform-style: preserve-3d;
      transform: translate3d(0, 0, 4px);
      transform-origin: 0 0;
      z-index: 30;

    }

    img {
      position: absolute;
      width: 55px;
      height: auto;
      inset: 72% auto auto 75%;
      transform: translate(-50%, -50%);
      z-index: 20;
    }
  }

  button:hover {
    div {
      transform: rotate3d(1, 0, 0, 135deg);
    }
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
}