@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$module-background: #e0e0e0;

* {
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

.modules {
  display: flex;
  gap: 20px 20px;
  flex: wrap;
}

.module {
  width: 800px;
  height: 300px;
}

@import "./modules/placeholder-move.scss";
@import "./modules/skeleton-screen.scss";